@import url("https://fonts.googleapis.com/css?family=Roboto");
/* Import other CSS files */

:root {
  --primary-color: teal;
  --secondary-color: blue;
  --text-color: darkgrey;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  font-size: 20px;
  line-height: 1.35;
  color: var(--text-color);
}

header {
}

footer {
}
